@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

body, html{
    margin: 0;
    padding: 0;
    min-height: 100svh;
    font-family: 'Teko', sans-serif;
}

a, li{
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

/*--------------*/
/*----------------HEADER*/
/*--------------*/

header{
    top: 0;
    z-index: 999;
    position: fixed;
    width: 100%;
}

nav{
    background-color: #1a1b1e00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 30px 0;
    transition: 0.2s;
}

.scrolled{
    background-color: #1A1B1E;
    padding: 5px;
    transition: 0.2s;
}

.scrolled .logo img{
    width: 120px;
    transition: 0.2s;
}

.scrolled ul{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    transition: 0.2s;
}

.logo, .logo img{
    width: 200px;
    left: 0;
    position: absolute;
}

.logo{
    height: 100%;
}

nav ul{
    background-color: rgba(0, 0, 0, 0.226);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    width: fit-content;
    margin: 0;
    border: 2px solid black;
    box-shadow: 1px 3px 2px 0px rgb(0, 0, 0);
    border-radius: 60px;
    height: fit-content;
}

nav a, li{
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
}

li img{
    width: 25px;
    height: 25px;
}

li p{
    margin: 0;
}

nav a:hover:not(.logo){
    background-color: rgb(19, 18, 18);
    backdrop-filter: blur(30px);
}

.profil-dropdown{
    position: absolute;
    width: 200px;
    right: 10px;
    border-radius: 5px;
    padding: 0;
    background-color: rgba(32, 31, 31, 0.326);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil-dropdown a{
    padding: 10px;
}
